---
import Layout from '../layouts/Layout.astro';
---

<Layout title="amxterasus">
  <main class="flex flex-col gap-8 pb-6">
    <section>
      <!-- About Me -->
      <h1 class="mb-3 text-2xl font-semibold text-ctp-pink">About Me!</h1>
      <p class="leading-7">
        Hi! I'm Amxterasus, a 15 year-old programmer passionate about
        technology. I specialize in building websites using Astro, Tailwind CSS
        and Typescript.
      </p>
    </section>
    <section>
      <!-- What I Do -->
      <h1 class="mb-3 text-2xl font-semibold text-ctp-pink">What I do?</h1>
      <div class="flex flex-col gap-2 leading-7">
        <p>
          <span class="text-ctp-mauve font-medium">Web Development:</span> I specialize
          in creating visually appealing websites using tools like Astro and Tailwind
          CSS.
        </p>
        <p>
          <span class="text-ctp-mauve font-medium">Discord Bots:</span>
          I love building Discord bots using JavaScript with the discord.js library.
        </p>
        <p>
          <span class="text-ctp-mauve font-medium">Roblox Studio:</span>
          I enjoy building, scripting, and creating user interfaces.
        </p>
        <p>
          <span class="text-ctp-mauve font-medium">Blender:</span> I enjoy working
          with Blender to create 3D assets and animations, which I often use in my
          Roblox projects.
        </p>
      </div>
    </section>
  </main>
</Layout>
