<header class="pb-6">
  <div class="flex gap-4 pb-2">
    <img
      title="Avatar"
      src="https://japi.rest/discord/v1/user/776176694209413170/avatar"
      alt="Avatar"
      class="w-20 rounded-full hover:opacity-75 cursor-pointer"
    />
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl font-semibold">Amxterasus</h1>
      <p class="text-ctp-overlay1">he/him</p>
    </div>
  </div>
  <nav class="flex gap-4">
    <a
      class="text-lg hover:underline hover:underline-offset-4 hover:decoration-2 hover:text-ctp-pink active:underline active:underline-offset-4 active:decoration-2 active:text-ctp-pink transition duration-150 ease"
      title="Home"
      href="/">Home</a
    >
    <a
      class="text-lg hover:underline hover:underline-offset-4 hover:decoration-2 hover:text-ctp-pink active:underline active:underline-offset-4 active:decoration-2 active:text-ctp-pink transition duration-150 ease"
      title="Social"
      href="/social">Social</a
    >
    <a
      class="text-lg hover:underline hover:underline-offset-4 hover:decoration-2 hover:text-ctp-pink active:underline active:underline-offset-4 active:decoration-2 active:text-ctp-pink transition duration-150 ease"
      title="Projects"
      href="/projects">Projects</a
    >
  </nav>
</header>
